body {
  background-color: #EAECEE;
}
h1 {
  margin: 10px;
}
button {
  margin:10px;
}
#mozfooter {
  color: #ffff;
}
.hero {
  text-align: center;
}
.email-link {
  color: var(--bs-body-color);
}
#contact-button {
  color: white;
  text-decoration: none;
}